body {
  max-width: 100%;
  background-color: #efece7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", sans-serif;
}

li {
  list-style-type: none;
}

nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: #323333;
  text-decoration: none;
  font-weight: bold;
}

img {
  border-radius: 50%;
  max-width: 50%;
}

#section {
  align-items: center;
}

#container {
  display: grid;
}

#header-text {
  color: rgb(70, 70, 69);
}

h1,
h2 {
  color: rgb(70, 70, 69);
  text-align: center;
}

p {
  color: rgb(70, 70, 69);
}

footer {
  text-align: center;
  margin-top: 10%;
}

@media (min-width: 360px) and (max-width: 980px) {
  #picture {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  /* DROP DOWN MENU + HAMBURGER MENU*/

  #hamburger {
    justify-items: center;
  }

  .hamburger-lines {
    width: 30px;
    height: 2px;
    background-color: rgb(70, 70, 69);
    margin: 5px 0;
  }
  .drop {
    position: relative;
    display: inline-block;
  }
  .content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 0.8;
    width: 155px;
  }

  .content a {
    padding: 12px 16px;
    display: block;
  }
  .conten a:hover {
    background-color: wheat;
  }

  .drop:hover .content {
    display: block;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* -------------*/

  ul {
    display: none;
  }
}
@media (min-width: 548px) and (max-width: 980px) {
  #hamburger {
    display: none;
  }
  ul {
    display: flex;
  }

  li a {
    display: flex;
    padding: 35px;
    font-size: 120%;
  }
  p {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 652px) and (max-width: 980px) {
  ul {
    padding-left: 10%;
  }
}

@media (min-width: 744px) and (max-width: 980px) {
  ul {
    padding-left: 15%;
  }
  .column {
    float: left;
    width: 50%;
  }
  #row {
    display: table;
  }
  p {
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media (min-width: 876px) and (max-width: 980px) {
  ul {
    padding-left: 20%;
  }
  p {
    margin: 0;
  }
}
@media (min-width: 980px) and (max-width: 980px) {
  ul {
    padding-left: 25%;
  }
  .section-text {
    margin: 3%;
  }
}
